<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".HostelManagementApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:icon="@mipmap/ic_launcher"
        android:label="Hostel Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostelManagementSystem">

        <activity
            android:name=".AddRoomActivity"
            android:exported="false" />

        <activity
            android:name=".AddUserActivity"
            android:exported="false" />

        <activity
            android:name=".AdminBookingRequestsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminComplaintsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminNoticesActivity"
            android:exported="false" />

        <activity
            android:name=".AdminVisitorsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminMessPlanActivity"
            android:exported="false" />

        <activity
            android:name=".AdminAnalyticsActivity"
            android:exported="false" />

        <activity
            android:name=".AdminPaymentsActivity"
            android:exported="false" />

        <activity
            android:name=".RoleSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".UserLoginActivity"
            android:exported="false" />

        <activity
            android:name=".UserDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".RoomListActivity"
            android:exported="false" />

        <activity
            android:name=".UserListActivity"
            android:exported="false" />

        <activity
            android:name=".ModuleActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
